config.yaml
common.yaml
BQ
job-results
run-results
test_*.yaml
azure_image_prepare.yaml
polarion_config.yaml
rerun_cases.yaml
test_rerun.yaml
avocado-data
avocado-vt
data
.idea
nohup.out
*.pyc
*~
*.bak
test_setup.py
~
